.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0px 20px 0px;
  width: 125px;
  height: 42px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  transition: all 0.8s ease;

  background-color: var(--buttonColor);
  color: var(--lightTextColor);

  &:focus {
    border-radius: 0px 20px 0px 20px;
  }

  &:hover {
    border-radius: 0px 20px 0px 20px;
  }
}

.heading {
  font-size: 25px;
  color: var(--accentColor);
  margin-bottom: 16x;
}

.wrapper {
  @media screen and (min-width: 767px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
}

.content {
  max-width: 70%;
}
