.nav_container {
  position: absolute;

  top: 0;
  right: 0;

  width: 450px;

  padding: 46px 40px 50px 50px;

  background-color: var(--primaryBackgroundColor);

  z-index: 10;

  @media screen and (min-width: 768px) {
    position: static;

    width: initial;

    padding: 0;
  }
}

.nav_list {
  display: flex;
  flex-direction: column;

  list-style: none;

  @media screen and (min-width: 768px) {
    flex-direction: row;

    justify-content: center;
    align-items: center;

    gap: 15px;
  }

  @media screen and (min-width: 1024px) {
    gap: 35px;
  }
}

.nav_item {
  padding: 10px 0;

  &:not(:last-child) {
    border-bottom: 1px solid var(--navBorderColor);
  }

  @media screen and (min-width: 768px) {
    padding: 38px 0;

    &:not(:last-child) {
      border-bottom: none;
    }
  }
}

.nav_link {
  line-height: calc(25 / 15);
}

.nav_link,
.nav_drop_down_link {
  font-size: 15px;
  font-weight: 600;

  color: var(--primaryNavColor);

  transition: transform var(--mainDuration) var(--mainTimingFunction);

  &:hover {
    color: var(--linkActiveColor);
  }
}

.active_link {
  color: var(--linkActiveColor);
}

.drop_down_btn {
  padding: 0;
  position: relative;
  padding-right: 15px;

  border: none;

  background-color: var(--primaryBackgroundColor);

  cursor: pointer;
}

.drop_down_btn_text {
  font-family: inherit;
  font-size: 15px;
  font-weight: 600;

  color: var(--primaryNavColor);

  &::after {
    content: "\002B";

    position: absolute;

    right: 0px;
    top: 50%;

    transform: translateY(-53%);

    font-size: 20px;
    font-weight: 400;

    &:active {
      color: var(--linkActiveColor);
    }
  }

  &:hover {
    color: var(--linkActiveColor);

    &::after {
      content: "\2012";

      position: absolute;

      right: 0px;
      top: 50%;

      transform: translateY(-58%);

      font-size: 16px;
      font-weight: 500;
    }
  }

  &:active {
    color: var(--linkActiveColor);
  }
}

.navigation_menu_content {
  @media screen and (min-width: 768px) {
    position: relative;
  }
}

.menu_drop_down {
  display: flex;
  flex-direction: column;

  z-index: 10;

  @media screen and (min-width: 768px) {
    position: absolute;

    top: 38px;

    min-width: 250px;

    padding: 21px 0;

    border-radius: 0 0 5px 5px;

    background-color: var(--primaryBackgroundColor);
  }
}

.nav_drop_down_link {
  width: 100%;

  padding: 8px 0 8px 20px;

  font-size: 14px;
  font-weight: 500;
  line-height: calc(25 / 14);

  &:not(:last-child) {
    border-bottom: 1px solid var(--navBorderColor);
  }

  @media screen and (min-width: 768px) {
    padding: 18px 0 18px 20px;

    &:not(:last-child) {
      border-bottom: none;
    }
  }
}
