.footer {
  // position: absolute;
  // bottom: 0;
  // width: 100%;

  font-size: 15px;
  font-weight: 400;
  line-height: 25.5px;
  // letter-spacing: 0.7em;
  // text-align: center;
  // color: var(--accentColor);
  color: var(--lightTextColor);

  background-color: var(--secondaryTextColor);
}
