.section {
  padding: 72px 10px 61px;
  background-color: var(--secondaryBackgroundColor);

  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px 100px 0px 100px;
}
