.button {
  display: flex;
  justify-content: center;
  align-items: center;
//   box-sizing: border-box;
  border-radius: 10px;
  width: 125px;
  height: 42px;
  cursor: pointer;

  box-sizing: border-box;
  background-color: var(--buttonColor);
  color: var(--lightTextColor);

  &:focus {
    background-color: var(--accentColor);
    color: var(--lightTextColor);
  }

  &:hover {
    background-color: var(--accentColor);
    color: var(--lightTextColor);
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .wrapper {
    display: flex;

    gap: 20px;

    flex-wrap: wrap;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;

    max-width: 712px;

    // border-radius: 20px;
    // background-color: var(--secondaryBackgroundColor);
  }

  .services-img {
    width: 90px;
  }

  .card {
    display: flex;
    flex-direction: column;
    max-width: 520px;
    border-radius: 20px;
    background-color: var(--secondaryBackgroundColor);
    padding: 20px 20px 45px 15px;
    gap: 20px;
  }

  .card-text-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;

    max-width: 1140px;

    margin-left: auto;
    margin-right: auto;
  }

  .card {
    width: auto;
    border-radius: 20px;
    background-color: var(--secondaryBackgroundColor);
    padding: 20px 20px 45px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .card-text-content {
    // max-width: 258px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .section-title {
    margin: 0px 0px 20px 0px;

    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    color: var(--secondaryTextColor);
  }

  .description {
    margin: 0px;

    font-size: 15px;
    line-height: 26px;
    color: var(--primaryTextColor);
  }
}
